/*body{
    background: url('../img/login-bg.jpg') no-repeat;
    background-size: 100% 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}*/
.login-layout:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../img/login-bg.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.login-layout .widget-box{
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,0.3);
}
.login-layout .widget-box .widget-main, .widget-body{
    background: none;
}
.login-container{
    margin: 90px auto;
}
.login-container h1{
    color: #fff;
    text-shadow: 0 1px 1px #999;
    margin: 0 0 30px;
}
.header{
    color: #6bace5;
    border-bottom: 0;
    text-align: center;
}
.login-box .toolbar {
    border-top: 0;
    border-radius: 5px;
}
.login-layout .widget-box .widget-body .toolbar>div>a {
    font-size: 13px;
    font-weight: 300;
    text-shadow: 1px 0 1px rgba(0,0,0,.25);
    color: #fff !important;
}
