<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a ui-sref="admin.dash-board">Home</a>
    </li>
    <li class="active">View profile</li>
  </ul><!-- /.breadcrumb -->

  
</div>

<div class="page-content">
  <div class="page-header">
    <h1>
      Profile details
    </h1>
  </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
              <!-- PAGE CONTENT BEGINS -->
              <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <form class="form-horizontal" role="form" name="update_form" method="post" novalidate ng-submit="updateForm()">
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Name </label>
                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" name="username" ng-model="username" class="form-control" placeholder="Username" required />
                      <label class="block clearfix" ng-show="update_form.username.$invalid && update_form.submitted">
                          <small class="text-danger" ng-show="update_form.username.$error.required">Please input username</small>
                      </label>
                    </div>
                    
                  </div>
                  
                  <div class="space-4"></div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email Id </label>

                    <div class="col-sm-9">
                      <input type="text"  placeholder="email" class="col-xs-10 col-sm-5" name="email" ng-model="email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required />
                      <label class="block clearfix" ng-show="update_form.email.$invalid && update_form.submitted">
                          <small class="text-danger" ng-show="update_form.email.$error.required">Please input email address</small>
                          <small class="text-danger" ng-show="update_form.email.$error.email">Please input a valid email address</small>
                          <small class="text-danger" ng-show="update_form.email.$error.pattern">Can not used special characters!</small>
                      </label>
                    </div>
                    
                  </div>
                  <div class="space-4"></div>
                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Contact number </label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="Contact number" class="col-xs-10 col-sm-5" name="userMobile" ng-model="userMobile" />
                    </div>
                  </div>
                  <div class="space-4"></div>

                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Company name </label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="companyName" class="col-xs-10 col-sm-5" name="companyName" ng-model="companyName" />
                    </div>
                  </div>
                  <div class="space-4"></div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Company address </label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="companyAddress" class="col-xs-10 col-sm-5" name="companyAddress" ng-model="companyAddress" />
                    </div>
                  </div>
                  <div class="space-4"></div>
                  
                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Password </label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="password" class="col-xs-10 col-sm-5" name="password" ng-model="password" ng-minlength="3" ng-maxlength="8" required />
                      <label class="block clearfix" ng-show="update_form.password.$invalid && update_form.submitted">
                          <small class="text-danger" ng-show="update_form.password.$error.required">Please input password</small>
                          <small class="text-danger" ng-show="update_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                          <small class="text-danger" ng-show="update_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                          <!-- <small class="text-danger" ng-show="reg_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small> -->
                      </label>
                    </div>
                      
                  </div>
                  <div class="space-4"></div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Confirm password </label>

                    <div class="col-sm-9">
                      <input type="text" id="form-field-1" placeholder="Confirm Password" class="col-xs-10 col-sm-5" name="confirmPassword" ng-model="confirmPassword" data-password-verify="password" required />
                      <label class="block clearfix" ng-show="update_form.confirmPassword.$invalid && update_form.submitted">
                          <small class="text-danger" ng-show="update_form.confirmPassword.$error.required">Please input confirm password</small>
                          <small class="text-danger" ng-show="update_form.confirmPassword.$error.passwordVerify">Confirm password are not equal!</small>
                      </label>
                    </div>
                    
                  </div>
                  <div class="space-4"></div>

                  <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                      <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Submit
                      </button>

                      &nbsp; &nbsp; &nbsp;
                      <button class="btn" type="reset">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Reset
                      </button>
                    </div>
                  </div>
                </form>
                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
              <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->




  