<div id="sidebar" class="sidebar  responsive ace-save-state">
  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
      </div>
  </div><!-- /.sidebar-shortcuts -->

  <ul class="nav nav-list">
      <li class="active">
          <a ui-sref="admin.dash-board">
              <i class="menu-icon fa fa-tachometer"></i>
              <span class="menu-text"> Dashboard </span>
          </a>

          <b class="arrow"></b>
      </li>

      <li>
          <a ui-sref="admin.category">
              <i class="menu-icon fa fa-tachometer"></i>
              <span class="menu-text"> Category </span>
          </a>

          <b class="arrow"></b>
      </li>

      <li>
          <a ui-sref="admin.advertisement">
              <i class="menu-icon fa fa-tachometer"></i>
              <span class="menu-text"> Advertisements </span>
          </a>

          <b class="arrow"></b>
      </li>

      

      

      <!-- <li class="">
          <a href="#" class="dropdown-toggle">
              <i class="menu-icon fa fa-file-o"></i>

              <span class="menu-text">
                  Other Pages

                  <span class="badge badge-primary">5</span>
              </span>

              <b class="arrow fa fa-angle-down"></b>
          </a>

          <b class="arrow"></b>

          <ul class="submenu">
              <li class="">
                  <a href="faq.html">
                      <i class="menu-icon fa fa-caret-right"></i>
                      FAQ
                  </a>

                  <b class="arrow"></b>
              </li>

              <li class="">
                  <a href="error-404.html">
                      <i class="menu-icon fa fa-caret-right"></i>
                      Error 404
                  </a>

                  <b class="arrow"></b>
              </li>

              <li class="">
                  <a href="error-500.html">
                      <i class="menu-icon fa fa-caret-right"></i>
                      Error 500
                  </a>

                  <b class="arrow"></b>
              </li>

              <li class="">
                  <a href="grid.html">
                      <i class="menu-icon fa fa-caret-right"></i>
                      Grid
                  </a>

                  <b class="arrow"></b>
              </li>

              <li class="">
                  <a href="blank.html">
                      <i class="menu-icon fa fa-caret-right"></i>
                      Blank Page
                  </a>

                  <b class="arrow"></b>
              </li>
          </ul>
      </li> -->
  </ul><!-- /.nav-list -->

  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
      <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>
</div>