<div class="no-skin">
  <!-- header start -->
    <header-content></header-content>
  <!-- header end -->
  <div class="main-container ace-save-state" id="main-container">
      <script type="text/javascript">
          try{ace.settings.loadState('main-container')}catch(e){}
      </script>
      <!-- menu start -->
      <menu-content></menu-content>
      <!-- menu end -->
      <div class="main-content">
        <div class="main-content-inner">
          <div ui-view="bodyContent"></div>
        </div>
      </div><!-- /.main-content -->
      
      <!-- footer-content start -->
      <footer-content></footer-content>
      <!-- footer-content end -->
      

      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
          <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
      </a>
  </div><!-- /.main-container -->
</div>