<div class="login-layout">
  <div class="main-container">
      <div class="main-content">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
              <div class="center">
                <h1>
                  <i class="ace-icon fa fa-leaf"></i>
                  <span>Smart diary</span>
                  <!-- <span class="white" id="id-text2">Application</span> -->
                </h1>
                <!-- <h4 class="blue" id="id-company-text">&copy; Company Name</h4> -->
              </div>

              <div class="space-6"></div>
              {{regMessage}}
              {{loginMessage}}
              <loading></loading>
              <div class="position-relative">
                <div id="login-box" class="login-box visible widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header lighter bigger">
                        <!-- <i class="ace-icon fa fa-coffee green"></i> -->
                        Please Enter Your Information
                      </h4>

                      <div class="space-6"></div>

                      <form role="form" name="login_form" method="post" novalidate ng-submit="loginForm(authorizationForm)">
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" name="username" ng-model="authorizationForm.username" class="form-control" placeholder="Username" required/>
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="login_form.username.$invalid && login_form.submitted">
                              <small class="text-danger" ng-show="login_form.username.$error.required">Please input username</small>
                          </label>


                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="authorizationForm.password" ng-minlength="3" ng-maxlength="8" required />
                              <i class="ace-icon fa fa-lock"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="login_form.password.$invalid && login_form.submitted">
                              <small class="text-danger" ng-show="login_form.password.$error.required">Please input password</small>
                              <small class="text-danger" ng-show="login_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                              <small class="text-danger" ng-show="login_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                              <!-- <small class="text-danger" ng-show="reg_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small> -->
                          </label>

                          <div class="space"></div>

                          <div class="clearfix">
                            <label class="inline">
                              <input type="checkbox" class="ace" />
                              <span class="lbl"> Remember Me</span>
                            </label>
                            <!--type="button"-->
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                              <i class="ace-icon fa fa-key"></i>
                              <span class="bigger-110">Login</span>
                            </button>
                          </div>

                          <div class="space-4"></div>
                        </fieldset>
                      </form>
                    </div><!-- /.widget-main -->

                    <div class="toolbar clearfix">
                      <div>
                        <a href="#login.registration" data-target="#forgot-box" class="forgot-password-link">
                          <i class="ace-icon fa fa-arrow-left"></i>
                          I forgot my password
                        </a>
                      </div>

                      <div>
                        <a href="#login.registration" data-target="#signup-box" class="user-signup-link">
                          I want to register
                          <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.login-box -->

                <div id="forgot-box" class="forgot-box widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header red lighter bigger">
                        <i class="ace-icon fa fa-key"></i>
                        Retrieve Password
                      </h4>

                      <div class="space-6"></div>
                      <p>
                        Enter your email and to receive instructions
                      </p>

                      <form role="form" name="forgote_form" method="post" novalidate ng-submit="forgotForm(authorizationForm)">
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="authorizationForm.email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required />
                              <i class="ace-icon fa fa-envelope"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="forgote_form.email.$invalid && forgote_form.submitted">
                              <small class="text-danger" ng-show="forgote_form.email.$error.required">Please input email address</small>
                              <small class="text-danger" ng-show="forgote_form.email.$error.email">Please input a valid email address</small>
                              <small class="text-danger" ng-show="forgote_form.email.$error.pattern">Can not used special characters!</small>
                          </label>

                          <div class="clearfix">
                            <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                              <i class="ace-icon fa fa-lightbulb-o"></i>
                              <span class="bigger-110">Send Me!</span>
                            </button>
                          </div>
                        </fieldset>
                      </form>
                    </div><!-- /.widget-main -->

                    <div class="toolbar center">
                      <a href="#login.registration" data-target="#login-box" class="back-to-login-link">
                        Back to login
                        <i class="ace-icon fa fa-arrow-right"></i>
                      </a>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.forgot-box -->

                <div id="signup-box" class="signup-box widget-box no-border">
                  <div class="widget-body">
                    <div class="widget-main">
                      <h4 class="header green lighter bigger">
                        <i class="ace-icon fa fa-users blue"></i>
                        New User Registration
                      </h4>

                      <div class="space-6"></div>
                      <p> Enter your details to begin: </p>

                      <form role="form" name="reg_form" method="post" novalidate ng-submit="regForm(authorizationForm)">
                        <fieldset>
                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Name" name="username" ng-model="authorizationForm.username" required />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="reg_form.username.$invalid && reg_form.submitted">
                              <small class="text-danger" ng-show="reg_form.username.$error.required">Please input username</small>
                          </label>


                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="authorizationForm.email" ng-pattern="/^[a-z0-9_.]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/" required/>
                              <i class="ace-icon fa fa-envelope"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="reg_form.email.$invalid && reg_form.submitted">
                              <small class="text-danger" ng-show="reg_form.email.$error.required">Please input email address</small>
                              <small class="text-danger" ng-show="reg_form.email.$error.email">Please input a valid email address</small>
                              <small class="text-danger" ng-show="reg_form.email.$error.pattern">Can not used special characters!</small>
                          </label>


                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Contact Number" name="contactNumber" ng-model="authorizationForm.contactNumber" ng-pattern="/^[0-9]{10,10}$/"  ng-minlength="10" ng-maxlength="10" required />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="reg_form.contactNumber.$invalid && reg_form.submitted">
                              <small class="text-danger" ng-show="reg_form.contactNumber.$error.required">Please input contactNumber</small>
                              <small class="text-danger" ng-show="reg_form.contactNumber.$error.pattern">Please input a valid Phone Number</small>
                              <small class="text-danger" ng-show="reg_form.contactNumber.$error.minlength">Your Phone Number is required to be at least 10 characters</small>
                              <small class="text-danger" ng-show="reg_form.contactNumber.$error.maxlength">Your Phone Number cannot be longer than 10 characters</small>
                          </label>


                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Company name" name="companyName" ng-model="authorizationForm.companyName" />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>

                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="text" class="form-control" placeholder="Company address" name="companyAdd" ng-model="authorizationForm.companyAdd" />
                              <i class="ace-icon fa fa-user"></i>
                            </span>
                          </label>


                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Password" name="password" ng-model="authorizationForm.password" ng-minlength="3" ng-maxlength="8" required  />
                              <i class="ace-icon fa fa-lock"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="reg_form.password.$invalid && reg_form.submitted">
                              <small class="text-danger" ng-show="reg_form.password.$error.required">Please input password</small>
                              <small class="text-danger" ng-show="reg_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
                              <small class="text-danger" ng-show="reg_form.password.$error.maxlength">Your password cannot be longer than 8 characters</small>
                              <!-- <small class="text-danger" ng-show="reg_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</small> -->
                          </label>

                          <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                              <input type="password" class="form-control" placeholder="Repeat password" name="confirmPassword" ng-model="confirmPassword" data-password-verify="authorizationForm.password" required />
                              <i class="ace-icon fa fa-retweet"></i>
                            </span>
                          </label>
                          <label class="block clearfix" ng-show="reg_form.confirmPassword.$invalid && reg_form.submitted">
                              <small class="text-danger" ng-show="reg_form.confirmPassword.$error.required">Please input confirm password</small>
                              <small class="text-danger" ng-show="reg_form.confirmPassword.$error.passwordVerify">Confirm password are not equal!</small>
                          </label>

                          <!-- <label class="block">
                            <input type="checkbox" class="ace" />
                            <span class="lbl">
                              I accept the
                              <a href="#">User Agreement</a>
                            </span>
                          </label> -->

                          <div class="space-24"></div>

                          <div class="clearfix">
                            <button type="reset" class="width-30 pull-left btn btn-sm">
                              <i class="ace-icon fa fa-refresh"></i>
                              <span class="bigger-110">Reset</span>
                            </button>

                            <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                              <span class="bigger-110">Register</span>

                              <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                            </button>
                          </div>
                        </fieldset>
                      </form>
                    </div>

                    <div class="toolbar center">
                      <a href="#login.registration" data-target="#login-box" class="back-to-login-link">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Back to login
                      </a>
                    </div>
                  </div><!-- /.widget-body -->
                </div><!-- /.signup-box -->
              </div><!-- /.position-relative -->
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.main-content -->
  </div><!-- /.main-container -->
</div>
