<ion-modal-view>
    <ion-content class="padding">
        <form class="cus-form" ng-submit="updateShippingInfo()">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Building No/Name</span>
                <input type="text" name="buildingNo" ng-model="userShippingAddress.buildingNo" placeholder="Building No">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Street Name</span>
                <input type="text" name="streetNo" ng-model="userShippingAddress.streetNo" placeholder="Street Name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">City</span>
                <input type="text" name="city" ng-model="userShippingAddress.city" placeholder="City">
            </label>
            <!-- <label class="item item-input item-stacked-label">
                <span class="input-label">State</span>
                <input type="text" name="state" ng-model="userShippingAddress.state"  placeholder="State">
            </label> -->
            <label class="item item-input item-stacked-label col">
              <span class="input-label">State</span>
              <select ng-model="userShippingAddress.state">
                  <option value = "">Select State</option>
                  <option ng-repeat = "state in states">{{state.stateName}}</option>
              </select>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Pin</span>
                <input type="tel" name="pin_code" ng-model="userShippingAddress.pin_code" numbers-only placeholder="Pin" maxlength="6">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Landmark</span>
                <input type="text" name="landmark" ng-model="userShippingAddress.landmark"  placeholder="Landmark">
            </label>

            <div class="row button-area">
                <button class="col button button-small button-block  button-dark" ng-click="closeModal()" type="reset">CANCEL</button>
            <div class="col-5"></div>
                <button class="col button button-small button-block  button-balanced" type="submit">UPDATE</button>
            </div>
        </form>

    </ion-content>

</ion-modal-view>
