<ion-modal-view>
  <ion-content class="padding">
      <div class="edit-user-profile" ng-if="isShown">
        <div class="user-block">
          <div class="user-avatar">
            <img ng-src="{{tempAvatar}}"/>
          </div>

          <span class="edit-avatar-icon" ng-click= "uploadImage()">
            <a class="ion-camera"></a>
          </span>
        </div>
      </div>

      <form class="cus-form" ng-submit="updateProfileInfo()">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Name<span>*</span></span>
          <input type="text" name="name" ng-model="profileDetails.name" placeholder="Name" >
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Date of Birth<span>*</span></span>
          <input type="text" name="dob" ng-model="profileDetails.dob" placeholder="Dob" ng-click = "openDatePicker('dob')" readonly>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email Id<span>*</span></span>
          <input type="text" name="email" ng-model="profileDetails.email" placeholder="Email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile no<span>*</span></span>
          <input type="text" name="mobile" ng-model="profileDetails.mobile_no" numbers-only placeholder="Mobile" maxlength="10" readonly>
        </label>

        <div class="row">
          <label class="item item-input item-stacked-label col-40">
            <span class="input-label">State<span>*</span></span>
            <select ng-model="profileDetails.state">
                <option value = "">Select State</option>
                <option ng-repeat = "state in states">{{state.stateName}}</option>
            </select>
          </label>
          <div class="col-5"></div>
          <label class="item item-input item-stacked-label col">
            <span class="input-label">City<span>*</span></span>
            <input type="text" name="city" ng-model="profileDetails.city"  placeholder="City"/>
          </label>
        </div>

        <div class="row">
          <label class="item item-input item-stacked-label col-40">
            <span class="input-label">Gender<span>*</span></span>
            <select ng-model="profileDetails.gender">
                 <option value="">Select Gender</option>
                <option ng-repeat = "gender in genders">{{gender.gName}}</option>
            </select>
          </label>
          <div class="col-5"></div>
          <label class="item item-input item-stacked-label col">
            <span class="input-label">Anniversary</span>
            <input type="text" name="anniversary" ng-model="profileDetails.anniversary" placeholder="Anniversary" ng-click = "openDatePicker('anniversary')" readonly>
          </label>
        </div>

        <div class="row button-area">
          <button class="col button button-small button-block  button-dark" ng-click="closeModal()" type="button">CANCEL</button>
          <div class="col-5"></div>
          <button class="col button button-small button-block  button-balanced" type="submit">UPDATE</button>
        </div>
      </form>


  </ion-content>
</ion-modal-view>
