<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Shipping Addresses</h1>
    <div class="button balanced button-icon ion-ios-close-outline cusIcon" ng-click="closeShippingModal()" ng-model="cancelBtn"> Close </div>
  </ion-header-bar>
  <ion-content class="padding">
   <a class="addMoreAddressContainer" ng-click="addAddress()">Click Here To Add Another Address</a>
    <div ng-if="shippingAddressList.length>0" class="shippingAddressContainer">
      <div class="address-block" ng-repeat="addresses in shippingAddressList track by $index">
        <ion-radio ng-model="address" ng-value="addresses.addressId" ng-click="changeAddr(addresses)"><div>{{addresses.buildingNo}}</div><div>{{addresses.streetNo}}</div><div>{{addresses.city}}</div><div>{{addresses.state}}</div><div>{{addresses.pin_code}}</div><div>{{addresses.landmark}}</div></ion-radio>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
